:root {
  --primery-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dgray-magenta: hsl(303, 10%, 53%);
  --lgray-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  --league-spartan: 'League Spartan', sans-serif;
}

*, html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  min-height: 100vh;
  font-size: 0.9rem;
}

body {
  font-family: var(--league-spartan);
  font-size: clamp(1.05rem, 1vw, 2.5rem);
  background: url('images/bg-pattern-top-mobile.svg') left top no-repeat,
    url('images/bg-pattern-bottom-mobile.svg') bottom right no-repeat;
}

.container {
  margin: 5% auto;
  padding: 0 1rem;
}

.product-rating {
  text-align: center;
}

.product-heading {
  color: var(--primery-magenta);
  font-size: clamp(3em, 3vw, 7em);
}

.description {
  margin: 5% 0;
  color: var(--dgray-magenta);
  line-height: 1.3;
}

.stars {
  background-color: var(--lgray-magenta);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
}

.star-icons {
  text-align: center;
}

.rating {
  margin: 0.5rem 0 0 0;
  color: var(--primery-magenta);
  font-weight: 700;
}

.card {
  background-color: var(--primery-magenta);
  border-radius: 10px;
  color: var(--white);
  padding:2.5rem 1.6rem;
  margin: 1rem 0;
  line-height: 1.1;
}

.profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile h2 {
  font-size: inherit;
}

.profile img {
  border-radius: 50%;
  width: 2.5rem;
}

.buyer-position {
  color: var(--soft-pink);
  margin: 5px 0 0;
}

.buyer-review {
  margin: 1rem 0 0 0;
}

.attribution {
  text-align: center;
}

/* For Responsiveness */
@media screen and (min-width:35em) {
  .container {
    max-width: 1200px;
  }

  .product-rating {
    display: flex;
    text-align: start;
    gap: 2rem;
  }

  .headings, .stars-ratings {
    width: 50%;
    flex: 0 1 auto;
  }

  .headings {
    padding-right: 12%;
  }

  .stars {
    display: flex;
    justify-content: space-around;
    width: 75%;
    padding: 1.7rem;
    align-items: center;
  }

  .rating {
    margin: 0;
  }

  .stars-in-report-guru {
    margin: 0 auto;
  }

  .stars-in-besttech {
    margin-left: auto;
  }

  .product-reviews {
    padding: 5% 0 0;
    gap: 2%;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 585px));
    grid-template-rows: 20rem;
  }

  .colton-smith {
    align-self: self-start;
  }

  .irene-roberts {
    align-self: center;
  }

  .anne-wallace {
    align-self: self-end;
  }
}
