:root {
  --primery-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dgray-magenta: hsl(303, 10%, 53%);
  --lgray-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  --league-spartan: 'League Spartan', sans-serif;
}

*, html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  min-height: 100vh;
  font-size: 0.9rem;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: var(--league-spartan);
  font-size: clamp(1rem, 1vw, 2.5rem);
  background: url('images/bg-pattern-top-mobile.svg') left top no-repeat,
    url('images/bg-pattern-bottom-mobile.svg') bottom right no-repeat;
}

.container {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  margin: 2rem 0;
}

.product-rating {
  text-align: center;
}

.product-heading {
  color: var(--primery-magenta);
  font-size: clamp(3em, 3vw, 7em);
}

.description {
  margin: 5% 0;
  color: var(--dgray-magenta);
}

.stars {
  background-color: var(--lgray-magenta);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
}

.rating {
  margin: 0.5rem 0 0 0;
  color: var(--primery-magenta);
  font-weight: 700;
}

.col {
  background-color: var(--primery-magenta);
  border-radius: 10px;
  color: var(--white);
  padding: 2.5rem;
  margin: 1rem 0;
  line-height: 1.1;
}

.profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile h2 {
  font-size: inherit;
}

.profile img {
  border-radius: 50%;
  width: 2.5rem;
}

.buyer-position {
  color: var(--soft-pink);
  margin: 5px 0 0;
}

.buyer-review {
  margin: 1rem 0 0 0;
}

@media screen and (min-width:35em) {
  .body {
    background: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
  }

  .container {

  }

}


/* @media screen and (min-width:) {
  .container {
    width: 65%;
  }

  .product-rating {
    display: flex;
    text-align: start;
  }

  .headings, .stars-ratings {
    flex: 1 1 auto;
    width: 50%;
  }

  .headings {
    padding: 0 15% 0 0;
  }

  .product-reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .colton-smith {

  }

  .irene-roberts {

  }

  .anne-wallace {

  }
} */
